*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
body{
    background:linear-gradient(#e0bfcd9d, #a1afbe8f);
    background-repeat:no-repeat;
    padding-bottom: 500px;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;

}
.title{
    margin: center;
}
.imagen{
    
    margin: 20px 20px 20px 40px ;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: #a6c9f1 5px 5px;
    
}
.imagenhome{
    display: flex;
    margin-left: 130px;
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: #eeaeca 5px 5px;
}
.imagenhome1{
  display: flex;
  margin-left: 130px;
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: #eeaeca 5px 5px;
}

.contenLogin{
    background: linear-gradient(#eeaeca, #a6c9f1);
    margin:100px 20px 30px ;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    padding: 10px  30px;
}



.registro{
    margin: 10px;
cursor: pointer;
color: rgb(28, 53, 63);
}
.correo{
   margin-top: 30px;
   box-shadow: #e2a4eb 5px 5px;

}
.contraseña{
    display: flex;
    
    margin-top: 20px;
    box-shadow: #e2a4eb 5px 5px;
    

}
.titulocorreo{
    display: flex;
    position: absolute;
    margin-top: 15px;
}
.titulocontraseña{
    
    display: flex;
    position: absolute;
    margin-top: 5px;

}



.card{
    margin: 5px;
    padding: 30px;
    border: 1px solid black;
    box-shadow: #eeaeca 5px 5px;
}
.contenido1{
    margin: 20px 0 0  80px;
    width: 250px;
    height: 50px;
    box-shadow: #e2a4eb 5px 5px;
}
.bienvenida1{
    margin: 20px 0 10px 80px;
    font-family: cursive;
}
.botonr{
    margin: 10px 10px 10px 200px;
    width: 90px;
    height: 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  /*background: linear-gradient(to right,#a1b4b9a6,#d3b8cf,#a5749a,#77530a,#ffd277,#77530a);*/
  background-size: 250%;
  background-position: left;
  color: #272625;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.botonr::before {
    position: absolute;
    
    color: #edeaf1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(34, 31, 31, 0.842);
    background-size: 200%;
  }
  .botonr:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .botonr:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .botonr:active {
    transform: scale(0.95);
  }
 .botonl{
    margin: -30px -10px 10px 300px;
    width: 90px;
    height: 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  /*background: linear-gradient(to right,#a1b4b9a6,#d3b8cf,#a5749a,#77530a,#ffd277,#77530a);*/
  background-size: 250%;
  background-position: left;
  color: #272625;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.boton1::before {
    position: absolute;
    
    color: #edeaf1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(34, 31, 31, 0.842);
    background-size: 200%;
  }
  .boton1:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .boton1:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .boton1:active {
    transform: scale(0.95);
  }

.botonPublicar1{
    margin: 10px 10px 10px 150px;
    width: 90px;
  height: 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  /*background: linear-gradient(to right,#a1b4b9a6,#d3b8cf,#a5749a,#77530a,#ffd277,#77530a);*/
  background-size: 250%;
  background-position: left;
  color: #272625;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.botonPublicar1::before {
    position: absolute;
    
    color: #edeaf1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(34, 31, 31, 0.842);
    background-size: 200%;
  }
  .botonPublicar1:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .botonPublicar1:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .botonPublicar1:active {
    transform: scale(0.95);
  }
  .login{
    margin: 20px 0 0 40px;
    width: 90px;
    height: 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  /*background: linear-gradient(to right,#a1b4b9a6,#d3b8cf,#a5749a,#77530a,#ffd277,#77530a);*/
  background-size: 250%;
  background-position: left;
  color: #272625;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.login::before {
    position: absolute;
    
    color: #edeaf1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(34, 31, 31, 0.842);
    background-size: 200%;
  }
  .login:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .login:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .login:active {
    transform: scale(0.95);
  }

  .btnEliminar{
    margin: 20px 0 0 0;
    width: 90px;
  height: 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  /*background: linear-gradient(to right,#a1b4b9a6,#d3b8cf,#a5749a,#77530a,#ffd277,#77530a);*/
  background-size: 250%;
  background-position: left;
  color: #272625;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.btnEliminar::before {
    position: absolute;
    
    color: #edeaf1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(34, 31, 31, 0.842);
    background-size: 200%;
  }
  .btnEliminar:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .btnEliminar:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .btnEliminar:active {
    transform: scale(0.95);
  }
 .imagendec{
    margin: 50px 0 0 0;
    display: flex;
   
    width: -70px;
    height: -70px;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 30%;
 
 }
 .imagendiv{
  float: left;
  margin :0 10px 0 50px;
 
  border: 1px solid black;
  box-shadow: #eeaeca 5px 5px;
 }
 .imagendec1{
  margin-right: 1000px ;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: #a6c9f1 5px 5px;
  
 /*margin-left: -500px;
 margin-right: 500px;
    padding: 30px;
    border: 1px solid black;
    box-shadow: #eeaeca 5px 5px;*/
  

}
.botonC{
  margin: 80px 20px 20px ;
  width: 90px;
  height: 20px;
border: none;
border-radius: 10px;
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
/*background: linear-gradient(to right,#a1b4b9a6,#d3b8cf,#a5749a,#77530a,#ffd277,#77530a);*/
background-size: 250%;
background-position: left;
color: #272625;
position: relative;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition-duration: 1s;
overflow: hidden;
}

.botonC::before {
  position: absolute;
  
  color: #edeaf1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(34, 31, 31, 0.842);
  background-size: 200%;
}
.botonC:hover {
  background-position: right;
  transition-duration: 1s;
}

.botonC:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.botonC:active {
  transform: scale(0.95);
}
